.DS_Store
app/macos/Runner/GoogleService-Info.plist
app/macos/firebase_app_id_file.json
app/ios/firebase_app_id_file.json
app/ios/Flutter/Env.xcconfig
generate_content/.env
generate_content/__pycache__
generate_content/settings/firebase_service.json
new_gen_content/.env
passwords.txt
gen_content/data/settings/firebase_service.json
app/ios/Podfile.lock
gen_content/.env
