<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>75863803421-v7p0j75bmrpcsni4k4rl7fn9p1q972de.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.75863803421-v7p0j75bmrpcsni4k4rl7fn9p1q972de</string>
	<key>API_KEY</key>
	<string>AIzaSyBLy0-gUeeBs_vWB2B-VtB5jeVmqnusbfk</string>
	<key>GCM_SENDER_ID</key>
	<string>75863803421</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rheinboldt.languagePal</string>
	<key>PROJECT_ID</key>
	<string>languagepal-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>languagepal-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:75863803421:ios:713e0d8a204282f85828f4</string>
</dict>
</plist>